<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'About Poops'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <p>
      <h5>What?</h5>
      Poops is a simple tamagochi game, where people cares for other people.
    </p>
    <p>
      <h5>Why?</h5>
      Our goal is to experiment with anonymous, non-text interaction
      between distant people. And investigate how it can help to
      fight social issues like depression.
    </p>
    <p>
      <h5>Poops, I did it again</h5>
      Well, that's not a question, but yes, shit happens everyday.
      <br/>
      Our goal is to help people having a bad day get a bit happier
      by knowing that someone in someplace cares and wants him well.
    </p>
    <p>
      More Questions? 
      <a href="mailto:hello@poops.me" target="_blank">Contact us</a>.
    </p>
  </ion-content>
</ion-view>
