/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:37949efc17ed3a14af0f224e97682c06:628f167f2f61cd16c474bc283e1c9c4a:11d20516511f38cf45903703bee811f6$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(fondito.png);}

.fondo {width:480px; height:854px; background-position: -2px -2px}
